
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    background-color: rgb(210, 233, 255);
}
button{
  border: none;
  cursor: pointer;
}

.container{
    max-width: 100%px;
    padding: 0 20px;
    margin: 0 auto;
}

.button__primary{
    background-image:linear-gradient(
        to right,
        #ff512f 0%,
        #e96772 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
}

.navbar{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color: rgb(235, 246, 255);
    height: 100px;
    position:static;
}

.navbar__brand{
    width: 100px;
}

.navbar__logo{
    width: 100%;
}

.nav__item{
    background-image:linear-gradient(
        to right,
        #ff512f 0%,
        #e96772 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
}

.hero__image__container{
    width: 100%;
}

.hero__image{
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 25px 50px -12px rgba(0,0,0,0.25);
}

.explore__menu__text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 45px;
    text-align: center;
    color: azure;
}

.food__card{
    background-color: aliceblue;
    border-radius: 6px;
    margin-bottom: 15px;
}

.food__card__image__container{
    width: 100%;
}

.food__image{
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.food__card__description{
    padding: 15px;
}

.view__more{
    display: flex;
    justify-content: center;
}
 /*Flexxxx*/
.restaurant__images__container{
    width: 100%;
    margin-top: 2rem;
}

.restaurant__text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 45px;
    text-align: center;
}

.restaurant__images__row__one,
.restaurant__images__row__two {
    width: 100%;
    display: flex;
    gap: 3px;
}

.restaurant__image__1,
.restaurant__image__4{
    width: 100%;
    height: 120px;
}

.restaurant__image__2,
.restaurant__image__3{
    width: 120%;
    height: 175px;
}

.restaurant__1,
.restaurant__2,
.restaurant__3,
.restaurant__4{
    width:  100%;
    height: 100%;
    border-radius: 6px;
}

.restaurant__images__row__one{
    align-items: baseline;
    margin-bottom: 3px;
}

.text-xl{
    font-size: 20px;
}

.email__subcribe__container{
    text-align: center;
    margin-top: 20px;
}

.email__subcribe__input__field{
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.email__input{
    border: 1px solid #ee89a0;
    background-color: #fcedf0;
    color: #1d3557;
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.quote__container{
    position: relative;
    height: 300px;
    width: 100%;
    margin-top: 4rem;
    background: url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80")
    center center / cover no-repeat;
    border-radius: 5px;  
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -200;
}

.quote_image_overlay{
    position: absolute;
    height: 300px;
    width: 100%;
    border-radius: 13px;
    background-color: #0a4065;
    opacity: 49%;
    z-index: -5;
    
}

.quote_image_text{
    color: #fff;
    z-index: 3;
    margin: 0 1rem;
    text-align: center;
    z-index: 1;
}

.footer__container{
    background-image:linear-gradient(
        to right,
        #ff512f 0%,
        #e96772 51%,
        #ff512f 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    margin-top: 4rem;
}

.footer__image{
    filter: brightness(0) invert(1);
  }

.footer__menu{
    color: #fff;
    list-style-type: none;
    margin-top: -1rem;
    margin-bottom: 20px;
 }
 .footer__menu li{
   margin: 5px 0;
 }



@media (min-width: 768px) {
    .navbar{
        justify-content: space-between;
        padding: 10px 30px;
    }
    .hero__container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 20px;
    }
    .explore__menu__lists{
        display: flex;
        gap: 15px;
        padding: 0 15px;
    }
    #pizza__card{
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .explore__menu__container{
        position: relative;
    }
    .explore__menu__gradient__bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 102%;
        background-image:linear-gradient(
            to right,
            #ff512f 0%,
            #000000 51%,
            #ff512f 100%
        );
        z-index: -1;
        transform: skewY(5deg);
    }
    .restaurant__container{
        display: flex;
        margin-top: 40px;
        align-items: center;
    }
    .restaurant__text{
        font-size: 40px;
        font-weight: 900;
    }
    .text-xl{
        font-size: 30px;
    }
    .email__input{
        width: 20rem;
    }
    .quote_image_text{
        font-size: 30px;
    }

    .footer__container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; 
      }
      .footer__menu{
        margin-bottom: 0;
      }
    

}

@media (min-width: 1020px) {
    .navbar__brand{
        width: 150px;    
    }
    .button__primary{
        padding: 20px;
        font-size: 20px;
    }
    .hero__description{
        width: 100%;
    }
    .container{
        max-width: 900px;
    }
    .hero__container{
        font-size: 25px;
    }
}

@media (min-width: 1500px) {
    .container{
        max-width: 1350px;
    }
   
}
